<div style='width:640px;height:480px;max-width:100%'>
    <div id='game'></div>
</div>

<script type='text/javascript'>
    EJS_player = '#game';
    
    // Can also be fceumm or nestopia
    EJS_core = 'nes';
    
    // Lightgun
    EJS_lightgun = false; // can be true or false
    
    // URL to BIOS file
    EJS_biosUrl = ''; // example: https://dl.dropboxusercontent.com/s/[random-code]/bios.bin
    
    // URL to Game rom
    EJS_gameUrl = ''; // example: https://dl.dropboxusercontent.com/s/[random-code]/mario.nes
    
    // Path to the data directory
    EJS_pathtodata = 'data/';
</script>
<script src='data/loader.js'></script>
